h1 {
	text-align: center;
	padding-bottom: 4%;
}

pre {
	line-height: 2em;
	tab-size: 4;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 8%;
}

.test {
	margin-right: 1%;
	border: 2px solid blue;
	width: 270px;
	overflow: hidden;
}

.exp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	margin-left: 2%;
}

.imgoutlined {
	border: 1px solid red;
}

img.inspector {
	width: auto;
	height: 104px;
}

.penultimate figure {
	margin-left: 0;
	margin-right: 0;
}

.ultimate figure {
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}